<nav class="navbar">
    <ul class="navbar-nav>
      <li><%= link_to "Doctors", doctors_path %></li>
      <li><%= link_to "Patients", patients_path %></li>
      <li><%= link_to "Appointments", appointments_path %></li>
      <li><%= link_to "Beds", beds_path%></li>
    </ul>

<div class="menu-icon">
  <span class="menu-icon__line menu-icon__line-left"></span>
  <span class="menu-icon__line"></span>
  <span class="menu-icon__line menu-icon__line-right"></span>
</div>

  </nav>
  <script src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/16327/gsap-latest-beta.min.js"></script>