

nav .close div::after{
  transform: rotate(45deg);
}

nav .close:hover div::before,
nav .close:hover div::after{
  background: rgb(209, 3, 3);
}

@media (max-width: 992px){
  h1{
    font-size: 25px;
  }
}
    </style>

  <nav>
    <ul>
      <li><%= link_to "Doctors", doctors_path %>
      </li>
      <li><a href="#">About</a></li>
      <li><a href="#">Projects</a></li>
      <li><a href="#">Contact</a></li>
    </ul>

<div class="menu-icon">
  <span class="menu-icon__line menu-icon__line-left"></span>
  <span class="menu-icon__line"></span>
  <span class="menu-icon__line menu-icon__line-right"></span>
</div>

  </nav>
  <script src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/16327/gsap-latest-beta.min.js"></script>

  <script>
    const open = document.querySelector('.container');
    const close = document.querySelector('.close');
    var tl = gsap.timeline({ defaults: { duration: 1, ease: 'expo.inOut' } });
    open.addEventListener('click', () => {
      if (tl.reversed()) {
        tl.play();
      } else {
        tl.to('nav', { right: 0 })
          .to('nav', { height: '100vh' }, '-=.1')
          .to('nav ul li a', { opacity: 1, pointerEvents: 'all', stagger: .2 }, '-=.8')
          .to('.close', { opacity: 1, pointerEvents: 'all' }, "-=.8")
          .to('nav h2', { opacity: 1 }, '-=1');
      }
    });

    close.addEventListener('click', () => {
      tl.reverse();
    });
  </script>