<div id="<%= dom_id appointment %>">
  <p>
    <strong>P name:</strong>
    <%= appointment.p_name %>
  </p>

  <p>
    <strong>D name:</strong>
    <%= appointment.d_name %>
  </p>

  <p>
    <strong>App date:</strong>
    <%= appointment.app_date %>
  </p>

</div>
