<div id="<%= dom_id bed %>">
  <p>
    <strong>Patient Name</strong>
    <%bed.p_name%>
  <p>
    <strong>Number:</strong>
    <%= bed.number %>
  </p>

  <p>
    <strong>Is reseved</strong>
    <%= bed.is_reseved %>
  </p>

</div>
